header{
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: var(--z-fixed);
    background: var(--body-color);
}

.nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 2.5rem;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__socials a{
    padding-left: 10px;
}

.nav__socials a:hover{
    color: var(--first-color);
    transition: 0.25s;
}

.nav__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-semibold);
}

.nav__title:hover {
    color: var(--first-color);
    transition: 0.25s;
}

.nav__list {
    display: flex;
}

.nav__item {
    padding-left: 30px;
}

.nav__link {
    position: relative;
}

.nav__link:hover {
    color: var(--first-color);
    transition: 0.25s;
}

.nav__link:hover::after {
    width: 100%;
    transition: 0.25s;
}

.nav__link::after {
    content: "";
    position: absolute;
    background-color: var(--first-color);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
}